body{
    background-color: #0d87a5;
    color: white;
    font-family: 'Helvetica', arial,;
    text-align: center;
    padding: 20vh;
}
h1{
    font-size: 72px;
}
h3{
    margin: 40px 0;
}
.btn{
    background-color:rgb(19, 121, 185);
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    
}