body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.titulo-blog {
    background-color: #106dca;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.titulo-blog h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin: 0;
}

.barra-servicios {
    background-color: #2acd37;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.informacion-redes a {
    color: #333;
    margin: 0 5px;
}

.contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('w.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.contenedor-login h1 {
    color: white;
    margin-bottom: 20px;
}

.form-login {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-login label {
    font-weight: bold;
    color: #333;
}

.form-login input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-login button {
    background-color: #154360;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-login button:hover {
    background-color: #1abc9c;
}

.recuperar {
    margin-top: 10px;
    text-align: center;
}

.recuperar a {
    color: #1abc9c;
    text-decoration: none;
}

.recuperar a:hover {
    text-decoration: underline;
}

.footer {
    background-color: rgb(67, 229, 67);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Estilos para el contenedor de la contraseña */
.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px; /* Espacio para el icono */
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}