<section class="carousel">
    <button class="carousel-button prev" onclick="moveCarousel(-1)">&#10094;</button>
    <div class="carousel-track-container">
    <div class="carousel-track">
        <article class="card" style="cursor: pointer;">
            <div class="texto">
            <h3>¿Se aprobará la jornada laboral de 40 horas?</h3>
            <div class="semicuerpo">
            <p><strong>Autor:</strong> Dominic García &nbsp; | &nbsp; 22/05</p>
            <p>La reforma para reducir la jornada laboral de 48 a 40 horas semanales </p>
            <p>en México ha sido un tema de discusión en el Congreso.</p>
            <p> La propuesta busca mejorar la calidad de vida de los trabajadores y</p>
            <p> alienarse con estándares internacionales. </p>
            </div>
        </div>
        <div class="fotos"><img src="assets/img/Empleos.jpg"></div>
        </article>
        <article class="card" style="cursor: pointer;">
        <div class="texto">
            <h3>Netflix abre vacantes de trabajo en México</h3>
            <div class="semicuerpo">
            <p><strong>Autor:</strong> Dominic García&nbsp;|&nbsp;22/05</p>
            <p>Netflix, la gigante del streaming, ha anunciado nuevas oportunidades</p>
            <p>aboralesdiversas áreas, desde tecnología y marketing hasta producción</p>
            <p>y atencion al cliente.</p>
            <p>La empresa busca talento a nivel global y ofrece empleos tanto </p>
            <p>  remotos como presenciales en sus oficinas principales.</p>
            </div>
        </div>
        <div class="fotos"><img src="assets/img/Netflix.jpg"></div>
        </article>
        <article class="card" style="cursor: pointer;">
        <div class="texto">
            <h3>Jovenes construyendo el futuro ¿Genera más ninis?</h3>
            <div class="semicuerpo">
            <p><strong>Autor:</strong> Dominic García &nbsp; | &nbsp; 22/05</p>
            <p>El programa Jóvenes Construyendo el Futuro ha sido una iniciativa del gobierno </p>
            <p>mexicano para apoyar a jóvenes de entre 18 y 29 años con capacitaciones laborales</p>
            <p>y un apoyo económico mensual. Sin embargo, ha generado debate</p>
            <p>sobre si realmente ayuda a la inserción laboral o si solo fomenta la dependencia económica</p>
            <p>sin generar empleabilidad a largo plazo.</p>
            </div>
        </div>
        <div class="fotos"><img src="assets/img/Jovenes.jpg"></div>
        </article>
        <article class="card" style="cursor: pointer;">
        <div class="texto">
            <h3>Aumento de salario mínimo este 2025</h3>
            <div class="semicuerpo">
            <p><strong>Autor:</strong> Dominic García &nbsp; | &nbsp; 22/05</p>
            <p>Cada año, el salario mínimo en México se ajusta para mejorar el poder</p>
            <p>adquisitivo de los trabajadores. Para 2025, se espera un nuevo</p>
            <p>incremento que podría superar la inflación y acercarse a los $250</p>
            <p> diarios en algunas zonas.</p>
            </div>
        </div>
        <div class="fotos"><img src="assets/img/salario.jpg"></div>
        </article>
    </div>
    </div>
    <button class="carousel-button next" onclick="moveCarousel(1)">&#10095;</button>
</section>
<script src="../assets/js/Main.js" defer></script>